<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.gkvr_system_backend.mapper.ScLiScoreMapper">

    <resultMap id="BaseResultMap" type="com.scu.gkvr_system_backend.pojo.ScLiScore">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="schoolId" column="school_id" jdbcType="INTEGER"/>
        <result property="schoolName" column="school_name" jdbcType="VARCHAR"/>
        <result property="score2022" column="score2022" jdbcType="INTEGER"/>
        <result property="rank2022" column="rank2022" jdbcType="INTEGER"/>
        <result property="score2021" column="score2021" jdbcType="INTEGER"/>
        <result property="rank2021" column="rank2021" jdbcType="INTEGER"/>
        <result property="score2020" column="score2020" jdbcType="INTEGER"/>
        <result property="rank2020" column="rank2020" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,school_id,school_name,
        score2022,rank2022,score2021,
        rank2021,score2020,rank2020
    </sql>

</mapper>
