<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.gkvr_system_backend.mapper.ScoreRankMapper">

    <resultMap id="BaseResultMap" type="com.scu.gkvr_system_backend.pojo.ScoreRank">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="score" column="score" jdbcType="VARCHAR"/>
        <result property="num" column="num" jdbcType="INTEGER"/>
        <result property="rank" column="rank" jdbcType="INTEGER"/>
        <result property="rankRange" column="rank_range" jdbcType="VARCHAR"/>
        <result property="batchName" column="batch_name" jdbcType="VARCHAR"/>
        <result property="controlScore" column="control_score" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,score,num,
        rank,rank_range,batch_name,
        control_score
    </sql>

</mapper>
